html,
body {
  width: 100%;
  min-width: 235px;
  min-height: 100%;
  margin: 0;
}
body {
  background-image:url("./main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.logo {
  width: 80px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 3;
  padding: 20px;
  background-color: transparent;
}
 /* Style the tab */
 .tab {
  overflow: hidden;
  background-color: #ff80df;
  border-radius: 5px 5px 0 0;
  width: 579px;
  margin: 20px 0 10px 20px;
  z-index: 4;
  position: relative;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 40px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ff33cc;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff33cc;
}
/* Style the tab content */
.tabcontent {
  position: relative;
  z-index: 4;
  display: none;
  width: 552px;
  padding: 6px 12px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color:rgba(0, 0, 0, 0.5);
  animation: fadeEffect 1s;
}
/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
.topright:hover {color: #ff33cc;}

.content img {width: 513px;}

h3 {color: #ff33cc;
  
font-size: 20px;}

h5 {
  margin-bottom: 0;
  color: #ff80df;
  text-transform: uppercase;
  font-size: 12px;
}

p {margin-top: 5px;}

footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
footer .social ul {
  padding: 0;
  font-size: 0;
}
footer .social li {
  padding: 10px 5px;
  display: inline-block;
}
.social a svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: #fff;
  transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
}
.social a svg:hover {
  fill: #ff33cc;
}
.copyright {
  font-size: 0;
}
.copyright span,
.copyright a {
  font-family: sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
}
.copyright span {
  padding: 5px;
}
.copyright a:hover {
  color: #ff33cc;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

